<div ng-controller='form'>
	<nav class='navbar navbar-default navbar-fixed-top'>
		<div class="container-fluid myNavBar">
			<div class="navbar-header">
				<button type='button' data-toggle='collapse' class='navbar-toggle' data-target='#myNavigation'>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a class='navbar-brand myNavHeader' ui-sref='home'>PA</a>
			</div>
			<div class="nav navbar-nav navbar-right">
				<p ng-show='userSuccess' class='navbar-text'><span class="glyphicon glyphicon-user" ></span></p>
				<button ng-hide='userLogin' class="btn btn-default navbar-btn loginBtnBar" ng-click='loginInit();' data-toggle='modal' data-target='#loginModal'><span class='glyphicon glyphicon-log-in'></span>  Login</button>
				<button ng-hide='userLogout' class="btn btn-default navbar-btn" ng-click='logoutFun();'><span class='glyphicon glyphicon-log-out'></span>  Logout</button>
			</div>

			
			<div class='collapse navbar-collapse' id='myNavigation'>
				<ul class='nav nav-pills navbar-nav'>
					
					<li><a ui-sref='home.proPromote' ><span class='glyphicon glyphicon-heart'></span>  Product Promotion</a></li>
					<!-- <li><a ui-sref='home.cusActive'><span class='glyphicon glyphicon-user'></span>Customer Activity</a></li> -->
					<li><a href="#" ng-click='checkIdentity();'><span class='glyphicon glyphicon-th-list'></span>  All-around Test</a></li>
					
				</ul>
			</div>
		</div>
	</nav>

	<div class="modal fade" id='loginModal' tabindex='-1' data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type='button' class="close closeLogin" data-dismiss='modal'>&times;</button>
				</div>
				<div class="modal-body">
					<div class="col-sm-4 col-sm-offset-4">
						<span class='brand'>Ping An</span>
						<h4>Account   Login</h4>
					</div>
					<form class="form-horizontal logInForm"  name="myForm" >
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<input type="text" class="form-control" ng-model='client.userName' placeholder="user name" name='userName' required>
								<span ng-show='loginName' style='color:red;'>
									please type into user name
								</span>
							</div>
						</div>
						<div class="form-group" >
							<div class="col-sm-8 col-sm-offset-2">
								<input type="password" class="form-control"  name='userPass' ng-model='client.userPassword' placeholder="password" required >
								<span ng-show='loginPass' style='color:red;'>{{pass_hint}}</span>
								
							</div>
						</div>
						<br>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-8 myBtn">
								<button type="submit" class="btn col-sm-12 loginBtn"  
		 						ng-class="{true: 'btn-info', false: 'btn-success'}[chooseColor]"
								data-loading-text="Logining..." 
								ng-disabled='loginName || loginPass' ng-click="checkForm();">Log in</button>
							</div>
						</div>
					</form>

					<div class="col-sm-4 col-sm-offset-4">
						<p class='signIn'><a href='#' data-toggle='modal' data-target='#signinModal' ng-click="signInHandler();">Sign In</a><p>
					</div>
						

				</div>
				<div class="modal-footer">	
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id='signinModal' tabindex='-1' data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type='button' class="close closeSignin" data-dismiss='modal'>&times;</button>
					
				</div>
				<div class="modal-body">
					<div class="col-sm-4 col-sm-offset-4">
						<p class='tlt'>Account  Signup</p>
					</div>
					<form class="form-horizontal signInForm"  name="myFormNew" novalidate>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<span class='userIcon'></span>
								<input type="text" class="form-control input-lg" ng-model='user.userNameNew' placeholder="user name" name='userNameNew' required>
								<span ng-show='signName' style='color:red;'>
									{{user_hint}}
								</span>
							</div>
						</div>

						<div class="form-group" >
							<div class="col-sm-8 col-sm-offset-2">
								<span class='passIcon'></span>
								<input type="password" class="form-control input-lg"  name='userPassNew1' ng-model='user.userPassword1' placeholder="password"  required   data-toggle="tooltip"  data-placement="right"  title="six to eight figure password combined with numbers and letters">
								<!-- <span ng-show='signPass1' style='color:red;'>
									please type into password
								</span> -->
								<span ng-show='validPass1' style='color:red;'>{{pass_hint1}}</span>
								
							</div>
						</div>
						<div class="form-group" >
							<div class="col-sm-8 col-sm-offset-2">
								<span class='passIcon'></span>
								<input type="password" class="form-control input-lg"  name='userPassNew2' ng-model='user.userPassword2' placeholder="confirm password"  required  data-toggle="tooltip"  data-placement="right"  title="six to eight figure password combined with numbers and letters">
								
								<!-- <span ng-show='signPass2' style='color:red;'>
									please type into password
								</span> -->
								<span ng-show='validPass2' style='color:red;'>{{pass_hint2}}</span>
							</div>
						</div>
						<br>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-8 myBtn">
								<button type="submit" class="btn col-sm-12 signinBtn btn-lg"  
		 						ng-class="{true: 'btn-info', false: 'btn-success'}[chooseColorNew]"
								data-loading-text="Logining..." 
								ng-disabled=' ' ng-click="checkSign();">Sign in</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">	
				</div>
			</div>
		</div>
	</div>
</div>
	