<div ng-controller='test'>
  <div class='middleNav'>
    <div class='testTit'>
      <div ng-click='goto("FI")'>Family Insurance Test</a></div>
          <ul class='range'>
            <li ng-click='goto("FI_1")'>1-4
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
            </li>
            <li ng-click='goto("FI_5")'>5-8
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
              </li>
          </ul>
    </div>
    <div class='testTit'>
        <div ng-click='goto("OCD")'>OCD Test</a></div>
          <ul class='range'>
            <li ng-click='goto("OCD_1")'>1-6
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
            </li>
            <li ng-click='goto("OCD_7")'>7-12
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
            </li>
            <li ng-click='goto("OCD_13")'>13-18
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
            </li>
          </ul>
    </div>
  </div>


  <div class='content'>
    <h3 id='FI'>Family Insurance Test</h3>
    <ol>
      <li id='FI_1'>享受日常健康运动，你遇到过哪些小麻烦？</li>
        <p>A:自己的运动损伤</p>
        <p>B:运动中误伤他人</p>
        <p>C:骑行中复杂的交通路况</p>
        <p>D:其他意外状况</p>
        <p>E:还好，没遇到什么麻烦</p>


      <li>人生的每个阶段都充满着不同快乐，您现在是？</li>
        <p>A:单身贵族</p>
        <p>B:二人世界</p>
        <p>C:有子女未成年</p>
        <p>D:子女成年，您家孩子年龄</p>
        <p>E:退休人生（55岁以上）</p>
      <li>陪伴孩子的成长，让你最操心的是...</li>
        <p>A:身体健康，还不要闯祸</p>
        <p>B:上辅导班，争取做学霸</p>
        <p>C:兴趣爱好，总要有一个吧</p>
        <p>D:送去留学，出去开阔视野</p>
        <p>E:给孩子咱点钱吧，支持创业、置业、婚嫁</p>
        <p>F:一切顺其自然</p>
      <li>生活好习惯你能HOLD住哪些？</li>
        <p>A:吃货的早餐从不落下</p>
        <p>B:每周锻炼一次，我要好身体</p>
        <p>C:十点半前上床碎觉</p>
        <p>D:艾玛，一个都做不到唉，泪奔...</p>

      <li id='FI_5'>假期太短，你的时间主要都去哪儿了？</li>
        <p>A:和家人朋友看电影，吃饭、读书</p>
        <p>B:喊上死党一起运动，打球、健身</p>
        <p>C:世界那么大，必须去看看</p>
        <p>D:no zuo no die，蹦极、跳伞、攀岩...</p>

      <li>土豪的生活，你做到了哪些？</li>
        <p>A:买！奢侈品</p>
        <p>B:吃！有机食品</p>
        <p>C:住！高端住宅</p>
        <p>D:开！壕车</p>
        <p>E:这个问题不要@我，桑心...</p>
      <li>孩子大了我们就老了，你为那时候做了哪些准备？</li>
        <p>A:所以现在努力挣钱啊</p>
        <p>B:就指望儿女将来照顾了</p>
        <p>C:缴纳社保，相信dang和国家</p>
        <p>D:家里不差钱，自己不用做准备</p>
        <p>E:暂时没想那么多</p>
      <li>辛苦干了一年，钱最主要花哪去了？</li>
        <p>A:柴米油盐酱醋茶</p>
        <p>B:吃喝玩乐，花花花</p>
        <p>C:买房、买车、还贷款了..</p>
        <p>D:投资自己，提升B格</p>
        <p>E:存钱、银行理财</p>
        <p>F:做生意、炒股</p>
      </ol>


    <h3 id='OCD'>Obsessive-compulsive Disorder Test</h3>
    <ol>
      <li id='OCD_1'>有时会有毫无原因地想要破坏某些物品或产生伤害他人的冲动？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>总是担心亲人，经常做无意义的联想？ </li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>听到自杀、犯罪或生病的事，就会心烦意乱很长时间，很难不去想它？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>有时会有毫无原因地想要破坏某些物品或产生伤害他人的冲动？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>为了要完全记住一些不重要的事情而困扰？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>忘性大？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li id='OCD_7'>对自己做的大多数事情都要产生怀疑？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>当看到刀、匕首和其他尖锐物品时，会感到心烦意乱？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>常常没有必要地检查门窗、煤气、钱物、文件、信件等？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>时常无原因地计数？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>不得不反复多次做某些事情，直到认为自己已经做好了为止？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>因为没有必要地花很多时间重复做某些事情而经常迟到？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li id='OCD_13'>一些不愉快的想法常违背意愿地进入头脑中，不能摆脱？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>有时不得不毫无理由地多次重复相同的内容、句子或数字？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>常常设想自己粗心大意或细小的差错会引起灾难性的后果？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>注意力不集中？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>常反复洗手且洗手的时间长，超过正常所必须时间？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      <li>时常无原则地担心自己患了某种疾病？</li>
        <p>A:否</p>
        <p>B:有时会</p>
        <p>C:是</p>
      </ol>
  </div>
</div>